# Импорт библиотек

In [94]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from numpy import nan

## Важные функции

In [97]:
# Генерация рандомных десятичных чисел
def sample_floats(low, high, k=1):
    """ Функция возвращает k-length список рандомных десятичных чисел
        где число находится в промежутке low <= float <= high
        
        --
        
        Параметры:
        low - минимальное значение,
        high - максимальное значение,
        k - кол-во примеров
    """
    result = []
    seen = set()
    for i in range(k):
        x = round(np.random.uniform(low, high), 1)
        while x in seen:
            x = round(np.random.uniform(low, high), 1)
        seen.add(x)
        result.append(x)
    return result

In [ ]:
# Функция для генерации initial_data для одного конкретного судна
def generate_initial_data(vessel_type: str, L: float, B: float,
                          d: float, DW: float, speed: float,
                          cargo_type: str):
    """
    Функция генерирует начальные примеры рейсов для уникального судна
    """

# Генерация данных

Данные описывают рейсы судов, в которых указана основная информация о судне, перевозимом грузе, детали маршрута, погодные условия.  
хрупкость груза
Данные содержат в себе следующие переменные:
- vessel_type - тип судна (класс);
- L - длина судна, м;
- B - ширина судна, м;
- d - осадка судна, м;
- DW - дедвейт судна, т;
- speed - скорость судна, узлы;
- cargo_type - тип груза;
- cargo_length - длина груза, м;
- cargo_breadth - ширина груза, м;
- cost_per_mile - стоимость транспортировки 1 ед. товара / 1 милю;
- cargo_demand - спрос на товар;
- cargo_value - ценность груза;
- cargo_fragility - хрупкость груза;
- cargo_danger - опасность груза (химикаты, ядовитые вещества, горючие вещества, взрывоопасные вещества);
- sea_route - маршрут судна, кол-во миль;
- wind_strength - сила ветра, балл;
- sea_state - степень волнения моря, балл;
- wind_direction - направление ветра;
- natural_disaster - природные катаклизмы (цунами, землетрясение, наводнение, торнадо);
- target - стоимость транспортировки груза, доллар ($).

In [84]:
# Формирование датафрейма
columns = ["vessel_type", "L", "B", "d", "DW", "speed", "cargo_type",
           "cargo_length", "cargo_breadth", "cost_per_mile", "cargo_demand",
           "cargo_value", "cargo_fragility", "cargo_danger", "sea_route",
           "wind_strength", "sea_state", "wind_direction", "natural_disaster",
           "target"]
df = pd.DataFrame(columns=columns)

## Грузовые суда

In [85]:
# 1-ое
AMIRA_MARYANA = [
    ["cargo vessel", 175.53, 29.4, 10.1, 32029.0, 11.7, "appliances", 10.0, 3.2] + [nan] * (df.shape[1] - 9)
]

# 2-ое
SERDOLIK = [
    ["cargo vessel", 89.96, 14.58, 4.6, 5027.0, 9.0, "furniture", 5.6, 1.7] + [nan] * (df.shape[1] - 9)
]

# 3-ое
DESPINA = [
    ["cargo vessel", 224.94, 32.26, 7.0, 76633.0, 7.0, "furniture", 12.1, 3.3] + [nan] * (df.shape[1] - 9)
]

# 4-ое
EDFU = [
    ["cargo vessel", 223.7, 32.3, 6.6, 71572.0, 11.6, "appliances", 5.4, 2.6] + [nan] * (df.shape[1] - 9)
]

# 5-ое
GIVING = [
    ["cargo vessel", 189.6, 30.5, 8.5, 45428.0, 12.3, "appliances", 6.78, 4.71] + [nan] * (df.shape[1] - 9)
]
# 6-ое
OSMAN_BEY = [
    ["cargo vessel", 165.5, 27.0, 9.1, 27321.6, 8.5, "furniture", 3.15, 0.9] + [nan] * (df.shape[1] - 9)
]

# 7-ое
TQ_TRABZON = [
    ["cargo vessel", 87.89, 12.8, 6.0, 3729.0, 8.3, "appliances", 4.23, 1.56] + [nan] * (df.shape[1] - 9)
]

# 8-ое
KURTULUS = [
    ["cargo vessel", 92.25, 15, 4.5, 5300.0, 9.0, "appliances", 3.78, 1.3] + [nan] * (df.shape[1] - 9)
]

# 9-ое
AEOLIAN_FORTUNE = [
    ["cargo vessel", 228.99, 32.26, 7.2, 82099.3, 7.6, "furniture", 12.54, 7.58] + [nan] * (df.shape[1] - 9)
]

# 10-ое
SERENITY_AC = [
    ["cargo vessel", 75.0, 10.7, 3.3, 1750.0, 8.2, "appliances", 2.12, 0.85] + [nan] * (df.shape[1] - 9)
]

In [86]:
# Добавляем данные в df
df = pd.concat([df, pd.DataFrame(data=np.array(AMIRA_MARYANA), columns=df.columns)], ignore_index=True)

In [87]:
df

,vessel_type,L,B,d,DW,speed,cargo_type,cargo_length,cargo_breadth,cost_per_mile,cargo_demand,cargo_value,cargo_fragility,cargo_danger,sea_route,wind_strength,sea_state,wind_direction,natural_disaster,target
0,cargo vessel,175.53,29.4,10.1,32029.0,11.7,appliances,10.0,3.2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

## Танкеры